@font-face{
	font-family: "ABeeZee";
	src: url("../fonts/ABeeZee-Regular.ttf");
}
@font-face{
	font-family: "ABeeZee-Italic";
	font-style: italic;
	src: url("../fonts/ABeeZee-Italic.ttf");
}
@font-face{
	font-family: "Skranji";
	src: url("../fonts/Skranji-Regular.ttf");
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%; min-height: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	z-index: 1;
}
