*{
	box-sizing: border-box;
}

body{
	background-image: url(../imagenes/fondo-nosotros.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


main{
	width: 100%;
}

main h3{
	font-family: "Skranji";
}

main p{
	font-family: "ABeeZee", "Skranji";
}

main #nosotros, main #misionVision{
	width: 100%;
	display: flex;
	align-content: center;
}






/*
		---CUADRO NOSOTROS---
									*/

main #nosotros{
	height: 100vh;
	display: flex;
	align-content: center;
}

main #nosotros #cuadroNosotros{
	width: 45%; height: 55%;
	align-self: center;
	margin-left: 20%;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 1.45em;
}

main #nosotros #cuadroNosotros p{
	text-align: center;
}






/*
		---MISION Y VISION---
								*/

main #misionVision{
	position: relative;
	height: 50vh;
	background-color: rgba(255, 255, 255, 0.75);
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

#misionVision #cuadroMisionVision{
	align-self: center;
	width: 60%;
	height: 65%;
	padding: 5px 20px;
}

#cuadroMisionVision h3, #cuadroMisionVision p{
	display: block;
	font-size: 1.25em;
}





/*
		---MEDIA QUERIES---
								*/

@media screen and (min-width: 1200px) {
	main #nosotros #cuadroNosotros{
		padding: 45px 40px;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1200px){
	main #nosotros #cuadroNosotros{
		padding: 20px;
	}
}

@media screen and (min-width: 965px) and (max-width: 1000px){
	main #nosotros #cuadroNosotros{
		padding: 15px;
		overflow-y: auto;
	}
}

@media screen and (min-width: 680px) and (max-width: 965px){
	main #nosotros #cuadroNosotros{
		width: 65%;
		padding: 15px;
		overflow-y: auto;
	}
	#misionVision #cuadroMisionVision{
		width: 70%;
		height: 75%;
		padding: 5px 15px;
	}
}

@media screen and (max-width: 680px){
	main #nosotros #cuadroNosotros{
		width: 80%;
		padding: 12px;
		margin: auto;
		overflow-y: auto;
		font-size: 1.35em;
	}
	main #misionVision{
		height: 65vh;
	}
	#misionVision #cuadroMisionVision{
		position: absolute;
		top: 5%;
		width: 85%;
		height: 70%;
		padding: 0px 15px;
		overflow-y: auto;
	}
}